<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>
<style>
    #test{
      margin-top: 100px;
    }
</style>
<script src="../static/js/bootstrap.js"></script>
<body>
    <div id="test" class="row">
      <div class="col-md-4 col-md-offset-4">
    <form id='myform' class="navbar-form navbar-left" role="add">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="姓名" name="name">
        <input type="text" class="form-control" placeholder="年龄" name="age">
      </div>
      <button  id='addbtn' class="btn btn-default btn-success">添加</button>
      
    </form>
    </div>
    </div>
    <br>
    <div class="container">
    <div class="col-md-4 col-md-offset-4">
    <table id='mytb' class="table table-striped table-bordered table-hover table-condensed" width="100">
    </table>
    </div>
    </div>
    <script>
      $('addbtn').on('click', function() {
        $('myform').on('submit', function() {
          var name = $('input[name=name]').val(),
              age = $('input[name=age]').val();
        $(this).ajaxSubmit({
            type: 'get', // 提交方式 get/post
            url: '/add', // 需要提交的 url
            data: {
                'name': name,
                'age': age
            },
            success: function(data) { // data 保存提交后返回的数据，一般为 json 数据
                // 此处可对 data 作相关处理
                alert('添加成功！');
                $.each(data,function(index,value){
                  str = str + '<tr><td>'+value['name']+'</td><td>'+value['age'] + '</td><td>' + '<button  id="'+ value['name'] +'" class="btn btn-default btn-danger">删除</button>' + '</td></tr>'
                })
                $('#mytb').html(str)
            }
            $(this).resetForm(); // 提交后重置表单
        });
        return false; // 阻止表单自动提交事件
    });
});
    </script>
</body>
</html>
